<tr>
	<td>{{@repository.name}}</td>
	<td><a href={{this.url}}>{{this.url}}</a></td>
	<td>{{@repository.language}}</td>
	<td>{{@repository.private}}</td>
	<td>{{@repository.open_issues}}</td>
	<td>{{@repository.branch_count}}</td>
	<td>
    <button class="showmore" {{on  "click" (perform this.showDetail)}}>
      Show Branches
    </button>
  </td>
</tr>

{{#if this.showDetailVisible}}
  <tr class="detail">
    <td colspan="6">
      <div>
        <table class="table">
            {{#each this.branches as |branch|}}
              <div class="branch-name">{{branch.name}}</div>
            {{/each}}
        </table>
      </div>
    </td>
  </tr>
{{/if}}