<div id="view">
  <div id="left-side">
    <div id="login-box">
      <Input @id="token-input" @type="password" @value={{this.token}} placeholder="Github api token" />
      <br>
      <br>
      <Input @id="organization-name-input" @type="text" @value={{this.organizationName}}
        placeholder="Organization name" />
    </div>
  </div>
  <div id="right-side">

    <DataProvider @token={{this.token}} @orgName={{this.organizationName}}>
      <:error as |message|>
        {{message}}

    <p class="no-data"> There are no data, please submit token and organization name! </p>
      </:error>

      <:loading>
        Loadin'
      </:loading>

      <:success as |repos|>
        <Filters @repos={{repos}} as |filtered|>
          <table>
            <tr>
              <th>Repository name</th>
              <th>Url</th>
              <th>Language</th>
              <th>Private</th>
              <th>Open issues</th>
              <th>Branch count</th>
            </tr>

            {{#each filtered as |repository|}}
              <MyRepository
                @repository={{repository}}
                @organizationName={{this.organizationName}}
              />
            {{/each}}
          </table>
        </Filters>
      </:success>
    </DataProvider>

  </div>
</div>